$primary-color: #7367f0;
$secondary-color: #666;
$background-color: #fff;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$border-color: #ddd;
$hover-color: #5e55d7;

.login-box {
  background-color: $background-color;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 10px 30px $box-shadow-color;
  text-align: center;
  width: 400px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.logo img {
  width: 80px;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #333;
}

p {
  color: $secondary-color;
  margin-bottom: 2rem;
  font-size: 1rem;
}

form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
}

.input-group input {
  width: 95%;
  padding: 15px 0px 15px 15px;
  border-radius: 8px;
  border: 1px solid $border-color;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: $primary-color;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: $secondary-color;
}

button {
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 90%;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: $hover-color;
}

.footer-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.footer-bg-three {
  position: absolute;
  bottom: 90px;
  left: 60px;
}
