.container {
  display: grid;
  grid-template-columns: 18% 82%;
  height: 100vh;
  overflow: hidden;
}

app-sidebar {
  position: relative;
  overflow-y: auto;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-area {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

