<header>
  <div class="search-bar">
    <i class="fa-solid fa-search" style="color: #433c50;"></i>
    <input type="text" placeholder="Search">
  </div>
  <nav>
    <div class="language">
      <i class="fa-solid fa-language" style="color: #433c50;"></i>
    </div>

    <div class="notification">
      <i class="fa-regular fa-bell" style="color: #433c50;"></i>
      <div class="notification-count"></div>
    </div>

    <div class="avatar">
      <img src="https://demos.themeselection.com/materio-bootstrap-html-laravel-admin-template/demo/assets/img/avatars/1.png" alt="">
      <div class="is-online"></div>
    </div>
  </nav>
</header>
